<footer class="bg-dark text-white text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 footer-content">
                <h5 class="text-uppercase">За aloevibe.com</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="/" class="text-white">За компанията</a></li>
                    <li><a href="/" class="text-white">Общи условия</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 footer-content">
                <h5 class="text-uppercase">Контакти и помощ</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="/" class="text-white">Контакти</a></li>
                    <li><a href="/" class="text-white">Често задавани въпроси</a></li>
                    <li><a href="/" class="text-white">Форма за връщане на продукт</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 footer-content">
                <h5 class="text-uppercase">Бързи връзки</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="/" class="text-white">Начало</a></li>
                    <li><a href="/" class="text-white">Продукти</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 footer-content">
                <h5 class="text-uppercase">Последвайте ни</h5>
                <ul class="list-unstyled mb-0 social-icons d-flex justify-content-center align-items-center">
                    <li>
                        <a href="#" class="text-white"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#" class="text-white ml-3"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#" class="text-white ml-3"><i class="fab fa-tiktok"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3 bg-dark text-white footer-bottom">
        &copy; 2024 AloeVibe.com Всички права запазени.
    </div>
</footer>
