.scroll-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #28a745;
    color: white;
    padding: 14px;
    border-radius: 50%;
    cursor: pointer;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
}

.scroll-to-top i {
    font-size: 18px;
}

.scroll-to-top:hover {
    background-color: #218838;
}